<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>MyCustomApp</title>
    </head>
    <body>
        <table style="width: 100%; max-width: 600px; margin: 20px auto;">
            <thead>
                <tr>
                    <th align="center" style="padding: 10px 0 10px 0;">
                        <%- include('/partials/logo.html.ejs') %>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td style="padding: 0 20px;">
                        <p style="font-family: sans-serif; font-size: 16px;"><b>Hi <%= firstName %>,</b></p>
                    </td>
                </tr>
                <tr>
                    <td style="padding: 0 20px;">
                        <p style="font-family: sans-serif; font-size: 16px;">Someone requested a password recover for this <b><i>MyCustomApp</i></b>. If this was you, please enter the below pincode in the application to reset your password:</p>
                    </td>
                </tr>
                <tr>
                    <td style="padding: 0 20px;" align="center">
                        <span href="#" style="font-family: sans-serif; font-size: 24px; display: block; padding: 10px; color: #ffffff; text-decoration: none; background: #0094FF">
                            <b><%= pin %></b>
                        </span>
                    </td>
                </tr>
                <tr>
                    <td style="padding: 20px;">
                        <p style="font-family: sans-serif; font-size: 16px;">If you did not request a password recover, please let us know and disregard this email (nothing will change for your account). <br><br>
                        Sincerely,<br>
                        <b>The MyCustomApp Team</b></p>
                        <a style="font-family: sans-serif; font-size: 16px;" href="http://www.link.page.com">http://www.link.page.com</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </body>
</html>
